<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  
  <appSettings>
    
    <!--Bereitstellung der CmisServer-Implementierung für das CmisObjectModel-->
    <add key="ProviderDllPath" value="CmisServer.dll"/>

    <!--Repository-Eigenschaften-->
    <add key="url" value="http://{0}/cmis"/><!--{0} wird durch den Rechnernamen ersetzt.-->
    <add key="repoid" value="repo"/>
    <add key="reponame" value="Demo Repository"/>
    
    <!--Lokales Verzeichnis zum Speichern der Repository-Daten-->
    <add key="folder" value="_repo"/>

    <!--Verhalten-->
	<add key="errorfile" value="c:\cmis.error.log.txt"/>
	<add key="logfile" value="c:\cmis.log.txt"/>

  </appSettings>
</configuration>
